<span class="icon-trash clickable"></span>
<input type="checkbox" <% if (completed) { %>checked<% } %>>
<form>
    <input type="text" value="<%= title %>">
</form>
<span class="title">
    <%= title %>
</span>
<ul class="todo-categories">
	<% _.each(categories, function(category) { %>
		<li class="category-<%= category.name %> active"></span>
	<% }); %>
</ul>
<ul class="todo-categories-edit hide">
	<% _.each(categories, function(category) { %>
		<li class="category-<%= category.name %> active clickable" data-id="<%= category.id %>"><%= category.name %><span class="icon-remove"></span>
	<% }); %>
</ul>